.version.contact /* version checker */
{
	color: #0000FF;
	background-color: #009543;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1900px;
	min-height: 798.55px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 8px;
}

#pu320-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u320-3
{
	z-index: 2;
	min-height: 62px;
}

#u320-3-bw
{
	z-index: 2;
	min-height: 62px;
	height: 62px;
}

#u328-4
{
	z-index: 5;
	width: 127px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 414px;
}

#u328-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u328-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u330
{
	z-index: 9;
	width: 1px;
	height: 66px;
	margin-right: -10000px;
	left: 570px;
}

#menuu487
{
	z-index: 12;
	width: 376px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1310px;
}

#u488
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u491
{
	width: 123px;
	padding-bottom: 14px;
}

#u494-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491:hover #u494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u495
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 126px;
}

#u496
{
	width: 123px;
	padding-bottom: 14px;
}

#u499-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491.MuseMenuActive #u494-4,#u496:hover #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u502
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 252px;
}

#u505
{
	width: 123px;
	padding-bottom: 14px;
}

#u491.MuseMenuActive,#u496.MuseMenuActive,#u505.MuseMenuActive
{
	margin: 0px;
}

#u507-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u496.MuseMenuActive #u499-4,#u505:hover #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u505.MuseMenuActive #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	z-index: 39;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 198px;
}

#u343
{
	z-index: 10;
	height: 4px;
}

#u343-bw
{
	z-index: 10;
	margin-top: 4px;
	height: 4px;
}

#u667-8
{
	z-index: 31;
	width: 879px;
	min-height: 174px;
	margin-left: 511px;
	margin-top: 23px;
}

#pu685
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -11px;
}

#u685,#u685-bw
{
	z-index: 40;
	height: 4px;
}

#pu1105
{
	width: 0.01px;
}

#u1105
{
	z-index: 41;
	padding-bottom: 172px;
}

#u1105_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1900px;
	left: -100px;
}

#u2632
{
	z-index: 42;
	width: 823px;
	min-height: 289px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 638px;
}

#u1105-bw
{
	z-index: 41;
	height: 351px;
}

#u2633-4
{
	z-index: 43;
	width: 99px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
	font-family: strong, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 693px;
}

#u2634-4
{
	z-index: 47;
	width: 99px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
	font-family: strong, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 693px;
}

#u2635-4
{
	z-index: 51;
	width: 99px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
	font-family: strong, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 693px;
}

#u385,#u385-bw
{
	z-index: 11;
	height: 4px;
}

body
{
	position: relative;
	min-width: 1900px;
	padding-bottom: 49px;
}

#page .verticalspacer
{
	clear: both;
}

