.version.gorgon /* version checker */
{
	color: #0000F7;
	background-color: #C58D85;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1900px;
	min-height: 798.8px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#pu320-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u320-3
{
	z-index: 2;
	min-height: 62px;
}

#u320-3-bw
{
	z-index: 2;
	min-height: 62px;
	height: 62px;
}

#u328-4
{
	z-index: 5;
	width: 127px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 414px;
}

#u328-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u328-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u330
{
	z-index: 9;
	width: 1px;
	height: 66px;
	margin-right: -10000px;
	left: 570px;
}

#menuu487
{
	z-index: 12;
	width: 376px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1310px;
}

#u488
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u491
{
	width: 123px;
	padding-bottom: 14px;
}

#u494-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491:hover #u494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u495
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 126px;
}

#u496
{
	width: 123px;
	padding-bottom: 14px;
}

#u499-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491.MuseMenuActive #u494-4,#u496:hover #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u502
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 252px;
}

#u505
{
	width: 123px;
	padding-bottom: 14px;
}

#u507-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u496.MuseMenuActive #u499-4,#u505:hover #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u505.MuseMenuActive #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	z-index: 39;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 198px;
}

#u343
{
	z-index: 10;
	height: 4px;
}

#u343-bw
{
	z-index: 10;
	margin-top: 4px;
	height: 4px;
}

#pu667-8
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u667-8
{
	z-index: 31;
	width: 879px;
	min-height: 174px;
	margin-right: -10000px;
	left: 611px;
}

#u685
{
	z-index: 40;
	height: 4px;
}

#u685-bw
{
	z-index: 40;
	margin-top: 163px;
	height: 4px;
}

#pu1105
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -7px;
}

#u1105,#u1105-bw
{
	z-index: 41;
	height: 523px;
}

#slideshowu812
{
	z-index: 42;
	width: 0.01px;
	height: 569px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 480px;
}

#u830
{
	position: absolute;
	width: 807px;
	height: 459px;
	background-color: transparent;
	left: 166px;
}

#u830popup
{
	z-index: 43;
}

#u2056
{
	z-index: 44;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2083
{
	z-index: 46;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2002
{
	z-index: 48;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2047
{
	z-index: 50;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1975
{
	z-index: 52;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1984
{
	z-index: 54;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1993
{
	z-index: 56;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2011
{
	z-index: 58;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2020
{
	z-index: 60;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2029
{
	z-index: 62;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2038
{
	z-index: 64;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2065
{
	z-index: 66;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2074
{
	z-index: 68;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1222
{
	z-index: 70;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2056_img,#u2083_img,#u2002_img,#u2047_img,#u1975_img,#u1984_img,#u1993_img,#u2011_img,#u2020_img,#u2029_img,#u2038_img,#u2065_img,#u2074_img,#u1222_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u813
{
	position: absolute;
	width: 1139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 60px;
	top: 459px;
}

#u491.MuseMenuActive,#u496.MuseMenuActive,#u505.MuseMenuActive,#u813:hover
{
	margin: 0px;
}

#u813popup
{
	z-index: 72;
}

#u2059
{
	z-index: 73;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u2059:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2086
{
	z-index: 75;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u2086:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2005
{
	z-index: 77;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u2005:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2050
{
	z-index: 79;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u2050:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1978
{
	z-index: 81;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u1978:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1987
{
	z-index: 83;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 414px;
}

#u1987:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1996
{
	z-index: 85;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 494px;
}

#u1996:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2014
{
	z-index: 87;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 574px;
}

#u2014:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2023
{
	z-index: 89;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 654px;
}

#u2023:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2032
{
	z-index: 91;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 734px;
}

#u2032:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2041
{
	z-index: 93;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 814px;
}

#u2041:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2068
{
	z-index: 95;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 894px;
}

#u2068:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2077
{
	z-index: 97;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 974px;
}

#u2077:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1225
{
	z-index: 99;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 1054px;
}

#u1225:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2059.SSSlideLinkSelected,#u2086.SSSlideLinkSelected,#u2005.SSSlideLinkSelected,#u2050.SSSlideLinkSelected,#u1978.SSSlideLinkSelected,#u1987.SSSlideLinkSelected,#u1996.SSSlideLinkSelected,#u2014.SSSlideLinkSelected,#u2023.SSSlideLinkSelected,#u2032.SSSlideLinkSelected,#u2041.SSSlideLinkSelected,#u2068.SSSlideLinkSelected,#u2077.SSSlideLinkSelected,#u1225.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2059_img,#u2086_img,#u2005_img,#u2050_img,#u1978_img,#u1987_img,#u1996_img,#u2014_img,#u2023_img,#u2032_img,#u2041_img,#u2068_img,#u2077_img,#u1225_img
{
	padding-top: 5px;
	padding-bottom: 6px;
}

#u837-4
{
	position: absolute;
	width: 10px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #A1A1A1;
	background-color: rgba(67, 67, 67, 0.5);
	padding: 10px;
	color: #F0F0F0;
	line-height: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	left: 122px;
	-pie-background: rgba(67, 67, 67, 0.5);
}

#u837-4:hover
{
	background-color: #CACACA;
	background-color: rgba(150, 150, 150, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 439px;
	margin: 0px;
	-pie-background: rgba(150, 150, 150, 0.5);
}

#u837-4popup
{
	z-index: 101;
}

#u825-4
{
	position: absolute;
	width: 10px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #A1A1A1;
	background-color: rgba(67, 67, 67, 0.5);
	padding: 10px;
	color: #F0F0F0;
	line-height: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	left: 986px;
	-pie-background: rgba(67, 67, 67, 0.5);
}

#u825-4:hover
{
	background-color: #CACACA;
	background-color: rgba(150, 150, 150, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 439px;
	margin: 0px;
	-pie-background: rgba(150, 150, 150, 0.5);
}

#u825-4popup
{
	z-index: 105;
}

#u837-2,#u825-2
{
	padding-top: 220px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u385
{
	z-index: 11;
	height: 4px;
}

#u385-bw
{
	z-index: 11;
	margin-top: -52px;
	margin-bottom: -4px;
	height: 4px;
}

body
{
	position: relative;
	min-width: 1900px;
	padding-bottom: 49px;
}

#page .verticalspacer
{
	clear: both;
}

