.version.gorgon /* version checker */
{
	color: #0000E3;
	background-color: #756DF1;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1900px;
	min-height: 798.55px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 8px;
}

#pu320-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u320-3
{
	z-index: 2;
	min-height: 62px;
}

#u320-3-bw
{
	z-index: 2;
	min-height: 62px;
	height: 62px;
}

#u328-4
{
	z-index: 5;
	width: 127px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 414px;
}

#u328-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u328-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u330
{
	z-index: 9;
	width: 1px;
	height: 66px;
	margin-right: -10000px;
	left: 570px;
}

#menuu487
{
	z-index: 12;
	width: 376px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1310px;
}

#u488
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u491
{
	width: 123px;
	padding-bottom: 14px;
}

#u494-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491:hover #u494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u495
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 126px;
}

#u496
{
	width: 123px;
	padding-bottom: 14px;
}

#u499-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491.MuseMenuActive #u494-4,#u496:hover #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u502
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 252px;
}

#u505
{
	width: 123px;
	padding-bottom: 14px;
}

#u507-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u496.MuseMenuActive #u499-4,#u505:hover #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u505.MuseMenuActive #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	z-index: 39;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 198px;
}

#u343
{
	z-index: 10;
	height: 4px;
}

#u343-bw
{
	z-index: 10;
	margin-top: 4px;
	height: 4px;
}

#pu667-8
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u667-8
{
	z-index: 31;
	width: 879px;
	min-height: 174px;
	margin-right: -10000px;
	left: 611px;
}

#u685
{
	z-index: 40;
	height: 4px;
}

#u685-bw
{
	z-index: 40;
	margin-top: 163px;
	height: 4px;
}

#pu1105
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -7px;
}

#u1105,#u1105-bw
{
	z-index: 41;
	height: 523px;
}

#slideshowu812
{
	z-index: 42;
	width: 0.01px;
	height: 509px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 602px;
}

#u830
{
	position: absolute;
	width: 807px;
	height: 459px;
	background-color: transparent;
	left: 44px;
}

#u830popup
{
	z-index: 43;
}

#u1204
{
	z-index: 44;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1067
{
	z-index: 46;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1159
{
	z-index: 48;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1168
{
	z-index: 50;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1177
{
	z-index: 52;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1186
{
	z-index: 54;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1195
{
	z-index: 56;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1213
{
	z-index: 58;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1222
{
	z-index: 60;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1231
{
	z-index: 62;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1204_img,#u1067_img,#u1159_img,#u1168_img,#u1177_img,#u1186_img,#u1195_img,#u1213_img,#u1222_img,#u1231_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u813
{
	position: absolute;
	width: 895px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 459px;
}

#u491.MuseMenuActive,#u496.MuseMenuActive,#u505.MuseMenuActive,#u813:hover
{
	margin: 0px;
}

#u813popup
{
	z-index: 64;
}

#u1207
{
	z-index: 65;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u1207:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1070
{
	z-index: 67;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u1070:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1162
{
	z-index: 69;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u1162:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1171
{
	z-index: 71;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u1171:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1180
{
	z-index: 73;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u1180:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1189
{
	z-index: 75;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 452px;
}

#u1189:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1198
{
	z-index: 77;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 532px;
}

#u1198:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1216
{
	z-index: 79;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u1216:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1225
{
	z-index: 81;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 692px;
}

#u1225:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1234
{
	z-index: 83;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 772px;
}

#u1234:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1207.SSSlideLinkSelected,#u1070.SSSlideLinkSelected,#u1162.SSSlideLinkSelected,#u1171.SSSlideLinkSelected,#u1180.SSSlideLinkSelected,#u1189.SSSlideLinkSelected,#u1198.SSSlideLinkSelected,#u1216.SSSlideLinkSelected,#u1225.SSSlideLinkSelected,#u1234.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1207_img,#u1070_img,#u1162_img,#u1171_img,#u1180_img,#u1189_img,#u1198_img,#u1216_img,#u1225_img,#u1234_img
{
	padding-top: 5px;
	padding-bottom: 6px;
}

#u837-4
{
	position: absolute;
	width: 10px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #A1A1A1;
	background-color: rgba(67, 67, 67, 0.5);
	padding: 10px;
	text-align: center;
	color: #F0F0F0;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	-pie-background: rgba(67, 67, 67, 0.5);
}

#u837-4:hover
{
	background-color: #CACACA;
	background-color: rgba(150, 150, 150, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 439px;
	margin: 0px;
	-pie-background: rgba(150, 150, 150, 0.5);
}

#u837-4popup
{
	z-index: 85;
}

#u825-4
{
	position: absolute;
	width: 10px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #A1A1A1;
	background-color: rgba(67, 67, 67, 0.5);
	padding: 10px;
	text-align: center;
	color: #F0F0F0;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	left: 865px;
	-pie-background: rgba(67, 67, 67, 0.5);
}

#u825-4:hover
{
	background-color: #CACACA;
	background-color: rgba(150, 150, 150, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 439px;
	margin: 0px;
	-pie-background: rgba(150, 150, 150, 0.5);
}

#u825-4popup
{
	z-index: 89;
}

#u837-2,#u825-2
{
	padding-top: 220px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u385,#u385-bw
{
	z-index: 11;
	height: 4px;
}

body
{
	position: relative;
	min-width: 1900px;
	padding-bottom: 49px;
}

#page .verticalspacer
{
	clear: both;
}

