#u320-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}

#u328-4
{
	border-style: none;
	background-color: transparent;
	font-size: 30px;
	color: #ED1C24;
	line-height: 36px;
	letter-spacing: -1px;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u328-4:hover
{
	background-color: transparent;
}

#u330
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u491
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u494-4
{
	border-style: none;
	background-color: transparent;
	font-size: 16px;
	color: #434343;
	line-height: 19px;
	letter-spacing: 0px;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u328-4.MuseLinkActive,#u491:hover #u494-4
{
	background-color: transparent;
}

#u491.MuseMenuActive #u494-4
{
	background-color: transparent;
}

#u491:hover #u494-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u496
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u499-4
{
	border-style: none;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #434343;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u491.MuseMenuActive #u494-4 p,#u496:hover #u499-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u488,#u495,#u502
{
	background-color: transparent;
	position: relative;
}

#u505
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u507-4
{
	border-style: none;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #434343;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u496.MuseMenuActive #u499-4 p,#u505:hover #u507-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u505.MuseMenuActive #u507-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu487,#u668
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u667-8
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u667-2
{
	font-size: 60px;
	line-height: 72px;
}

#u667-4,#u667-6
{
	font-size: 48px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u667-3,#u667-5
{
	font-size: 16px;
	line-height: 19px;
}

#u1105
{
	border-style: none;
	border-color: transparent;
	background-color: #1E1E1E;
}

#u1105_align_to_page
{
	position: relative;
}

#u343,#u685,#u385
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

