.version.research /* version checker */
{
	color: #000019;
	background-color: #C1B9E6;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1900px;
	min-height: 798.55px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 8px;
}

#pu320-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u320-3
{
	z-index: 2;
	min-height: 62px;
}

#u320-3-bw
{
	z-index: 2;
	min-height: 62px;
	height: 62px;
}

#u328-4
{
	z-index: 5;
	width: 127px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 414px;
}

#u328-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u328-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u330
{
	z-index: 9;
	width: 1px;
	height: 66px;
	margin-right: -10000px;
	left: 570px;
}

#menuu487
{
	z-index: 12;
	width: 376px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1310px;
}

#u488
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u491
{
	width: 123px;
	padding-bottom: 14px;
}

#u494-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491:hover #u494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u495
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 126px;
}

#u496
{
	width: 123px;
	padding-bottom: 14px;
}

#u499-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491.MuseMenuActive #u494-4,#u496:hover #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u502
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 252px;
}

#u505
{
	width: 123px;
	padding-bottom: 14px;
}

#u507-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u496.MuseMenuActive #u499-4,#u505:hover #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u505.MuseMenuActive #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	z-index: 39;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 198px;
}

#u343
{
	z-index: 10;
	height: 4px;
}

#u343-bw
{
	z-index: 10;
	margin-top: 4px;
	height: 4px;
}

#pu667-8
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u667-8
{
	z-index: 31;
	width: 879px;
	min-height: 174px;
	margin-right: -10000px;
	left: 611px;
}

#u685
{
	z-index: 40;
	height: 4px;
}

#u685-bw
{
	z-index: 40;
	margin-top: 163px;
	height: 4px;
}

#pu1105
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -7px;
}

#u1105,#u1105-bw
{
	z-index: 41;
	height: 523px;
}

#slideshowu1345
{
	z-index: 42;
	width: 0.01px;
	height: 509px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 602px;
}

#u1346
{
	position: absolute;
	width: 807px;
	height: 459px;
	background-color: transparent;
	left: 44px;
}

#u1346popup
{
	z-index: 43;
}

#u1351
{
	z-index: 44;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1828
{
	z-index: 46;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1837
{
	z-index: 48;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1846
{
	z-index: 50;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1855
{
	z-index: 52;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1864
{
	z-index: 54;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1873
{
	z-index: 56;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1882
{
	z-index: 58;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1351_img,#u1828_img,#u1837_img,#u1846_img,#u1855_img,#u1864_img,#u1873_img,#u1882_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u1371
{
	position: absolute;
	width: 895px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 459px;
}

#u491.MuseMenuActive,#u496.MuseMenuActive,#u505.MuseMenuActive,#u1371:hover
{
	margin: 0px;
}

#u1371popup
{
	z-index: 60;
}

#u1378
{
	z-index: 61;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u1378:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1831
{
	z-index: 63;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u1831:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1840
{
	z-index: 65;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 292px;
}

#u1840:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1849
{
	z-index: 67;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 372px;
}

#u1849:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1858
{
	z-index: 69;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 452px;
}

#u1858:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1867
{
	z-index: 71;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 532px;
}

#u1867:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1876
{
	z-index: 73;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u1876:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1885
{
	z-index: 75;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 692px;
}

#u1885:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1378.SSSlideLinkSelected,#u1831.SSSlideLinkSelected,#u1840.SSSlideLinkSelected,#u1849.SSSlideLinkSelected,#u1858.SSSlideLinkSelected,#u1867.SSSlideLinkSelected,#u1876.SSSlideLinkSelected,#u1885.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1378_img,#u1831_img,#u1840_img,#u1849_img,#u1858_img,#u1867_img,#u1876_img,#u1885_img
{
	padding-top: 5px;
	padding-bottom: 6px;
}

#u1394-4
{
	position: absolute;
	width: 10px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #A1A1A1;
	background-color: rgba(67, 67, 67, 0.5);
	padding: 10px;
	text-align: center;
	color: #F0F0F0;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	-pie-background: rgba(67, 67, 67, 0.5);
}

#u1394-4:hover
{
	background-color: #CACACA;
	background-color: rgba(150, 150, 150, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 439px;
	margin: 0px;
	-pie-background: rgba(150, 150, 150, 0.5);
}

#u1394-4popup
{
	z-index: 77;
}

#u1370-4
{
	position: absolute;
	width: 10px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #A1A1A1;
	background-color: rgba(67, 67, 67, 0.5);
	padding: 10px;
	text-align: center;
	color: #F0F0F0;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	left: 865px;
	-pie-background: rgba(67, 67, 67, 0.5);
}

#u1370-4:hover
{
	background-color: #CACACA;
	background-color: rgba(150, 150, 150, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 439px;
	margin: 0px;
	-pie-background: rgba(150, 150, 150, 0.5);
}

#u1370-4popup
{
	z-index: 81;
}

#u1394-2,#u1370-2
{
	padding-top: 220px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u385,#u385-bw
{
	z-index: 11;
	height: 4px;
}

body
{
	position: relative;
	min-width: 1900px;
	padding-bottom: 49px;
}

#page .verticalspacer
{
	clear: both;
}

