.version.stratos /* version checker */
{
	color: #000003;
	background-color: #B7EA04;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1900px;
	min-height: 798.55px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 8px;
}

#pu320-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u320-3
{
	z-index: 2;
	min-height: 62px;
}

#u320-3-bw
{
	z-index: 2;
	min-height: 62px;
	height: 62px;
}

#u328-4
{
	z-index: 5;
	width: 127px;
	min-height: 36px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 414px;
}

#u328-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u328-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 12px -10000px 0px 0px;
}

#u330
{
	z-index: 9;
	width: 1px;
	height: 66px;
	margin-right: -10000px;
	left: 570px;
}

#menuu487
{
	z-index: 12;
	width: 376px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1310px;
}

#u488
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u491
{
	width: 123px;
	padding-bottom: 14px;
}

#u494-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491:hover #u494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u495
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 126px;
}

#u496
{
	width: 123px;
	padding-bottom: 14px;
}

#u499-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u491.MuseMenuActive #u494-4,#u496:hover #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u502
{
	width: 123px;
	min-height: 33px;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 252px;
}

#u505
{
	width: 123px;
	padding-bottom: 14px;
}

#u507-4
{
	width: 122px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 1px;
}

#u496.MuseMenuActive #u499-4,#u505:hover #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u505.MuseMenuActive #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	z-index: 39;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 198px;
}

#u343
{
	z-index: 10;
	height: 4px;
}

#u343-bw
{
	z-index: 10;
	margin-top: 4px;
	height: 4px;
}

#pu667-8
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u667-8
{
	z-index: 31;
	width: 879px;
	min-height: 174px;
	margin-right: -10000px;
	left: 611px;
}

#u685
{
	z-index: 40;
	height: 4px;
}

#u685-bw
{
	z-index: 40;
	margin-top: 163px;
	height: 4px;
}

#pu1105
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -7px;
}

#u1105,#u1105-bw
{
	z-index: 41;
	height: 523px;
}

#slideshowu1257
{
	z-index: 42;
	width: 0.01px;
	height: 509px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 602px;
}

#u1263
{
	position: absolute;
	width: 807px;
	height: 459px;
	background-color: transparent;
	left: 44px;
}

#u1263popup
{
	z-index: 43;
}

#u1644
{
	z-index: 44;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1274
{
	z-index: 46;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1572
{
	z-index: 48;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1581
{
	z-index: 50;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1590
{
	z-index: 52;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1599
{
	z-index: 54;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1608
{
	z-index: 56;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1617
{
	z-index: 58;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1626
{
	z-index: 60;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1635
{
	z-index: 62;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1653
{
	z-index: 64;
	width: 807px;
	height: 459px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1644_img,#u1274_img,#u1572_img,#u1581_img,#u1590_img,#u1599_img,#u1608_img,#u1617_img,#u1626_img,#u1635_img,#u1653_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u1285
{
	position: absolute;
	width: 895px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 459px;
}

#u491.MuseMenuActive,#u496.MuseMenuActive,#u505.MuseMenuActive,#u1285:hover
{
	margin: 0px;
}

#u1285popup
{
	z-index: 66;
}

#u1647
{
	z-index: 67;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 12px;
}

#u1647:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1304
{
	z-index: 69;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u1304:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1575
{
	z-index: 71;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u1575:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1584
{
	z-index: 73;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 252px;
}

#u1584:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1593
{
	z-index: 75;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u1593:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1602
{
	z-index: 77;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 412px;
}

#u1602:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1611
{
	z-index: 79;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 492px;
}

#u1611:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1620
{
	z-index: 81;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u1620:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1629
{
	z-index: 83;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 652px;
}

#u1629:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1638
{
	z-index: 85;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 732px;
}

#u1638:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1656
{
	z-index: 87;
	width: 70px;
	height: 50px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 812px;
}

#u1656:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1647.SSSlideLinkSelected,#u1304.SSSlideLinkSelected,#u1575.SSSlideLinkSelected,#u1584.SSSlideLinkSelected,#u1593.SSSlideLinkSelected,#u1602.SSSlideLinkSelected,#u1611.SSSlideLinkSelected,#u1620.SSSlideLinkSelected,#u1629.SSSlideLinkSelected,#u1638.SSSlideLinkSelected,#u1656.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u1647_img,#u1304_img,#u1575_img,#u1584_img,#u1593_img,#u1602_img,#u1611_img,#u1620_img,#u1629_img,#u1638_img,#u1656_img
{
	padding-top: 5px;
	padding-bottom: 6px;
}

#u1259-4
{
	position: absolute;
	width: 10px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #A1A1A1;
	background-color: rgba(67, 67, 67, 0.5);
	padding: 10px;
	text-align: center;
	color: #F0F0F0;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	-pie-background: rgba(67, 67, 67, 0.5);
}

#u1259-4:hover
{
	background-color: #CACACA;
	background-color: rgba(150, 150, 150, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 439px;
	margin: 0px;
	-pie-background: rgba(150, 150, 150, 0.5);
}

#u1259-4popup
{
	z-index: 89;
}

#u1284-4
{
	position: absolute;
	width: 10px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: #A1A1A1;
	background-color: rgba(67, 67, 67, 0.5);
	padding: 10px;
	text-align: center;
	color: #F0F0F0;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	left: 865px;
	-pie-background: rgba(67, 67, 67, 0.5);
}

#u1284-4:hover
{
	background-color: #CACACA;
	background-color: rgba(150, 150, 150, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 439px;
	margin: 0px;
	-pie-background: rgba(150, 150, 150, 0.5);
}

#u1284-4popup
{
	z-index: 93;
}

#u1259-2,#u1284-2
{
	padding-top: 220px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u385,#u385-bw
{
	z-index: 11;
	height: 4px;
}

body
{
	position: relative;
	min-width: 1900px;
	padding-bottom: 49px;
}

#page .verticalspacer
{
	clear: both;
}

